// color
$bg-head: grey;
$bar-color: black;
$color: #6c757d;
$bg-body: white;
$bg-footer: #f9f9f9;
$footer-color: #999;
$btn-bg: #6c757d;

// font-size
$body-font: 14px;
$heading-font: 48px;
$sub-heading-font: 36px;

// spacing
$margin-top-30: 30px;
$margin-bottom-30: 30px;
$padding-50: 50px;
$button-padding-y: 6px;
$button-padding-x: 12px;

$button-radius: 5px;
$card-img-height: 12rem;